page-domainResult{

 .date {
  font-family: Georgia, serif;
  color: #999;
 }
 
.day, .month, .year {
  position: absolute;
  }
 
.day { 
  font-size: 20px;
  top: 10px;
  }
 
.month { 
  top: 0;
  left: 0;  
  font-size: 18px;
  }
 
.year { 
  top: 15px;
  right: 0;
  font-size: 12px;
  rotation: -90deg !important;
  /* ** Hacks ** */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);  
  }
}